div.top-menu{
    display: inline-block;
    position:relative;
    overflow:auto;
}
#core{
    background-color: #d8d5d5;
    height: 100%
    width: 100%;
}
#canvas{

    background-color: white;

    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
#header_bild{
    height: 90%;
    width: 100%;

    
}
#button{
    height: 10%;
    width: 100%;
}
.glyphicon-plus{
    font-size: 40px;
    padding-top: 2%;
    padding-left: 95%;
    color: orange;
}
.page-header{
    background-color: white;
    height: 20%;
    width: 100%;
    text-align: center;
    margin-top: 0;
}

#menu{
    height: 100%;
    width: 20%;
    padding: 4%;
}
#profile_pic{
    text-align: center;
}
.content_canvas{
    height: 80%;
    width: 100%;
    margin-left:  5%;
}
.row{
    height: 100%;
    width: 80%;
    margin-left: 7%;
    margin-top: 3%;

}
a {
    color: black;
}
a:hover{
        color: orange;
}
.post{
    margin-top: 10%;
    font font-family: Arial;
}


